@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";



@layer base {
  html {
    scroll-behavior: smooth;
  }

  *, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  body {
    @apply bg-[#000000] text-[#FFFFFF] min-h-screen;
  }
}



@layer components {
  .shad-form_label {
    color: #FFFFFF !important;
  }

  .shad-form_message {
    color: #FF5A5A !important;
  }

  .shad-input {
    height: 3rem; /* h-12 */
    background-color: #1F1F22;
    border: none;
    color: inherit;
    padding: 0.5rem 1rem;
    --tw-ring-offset-color: #7878A3;
    &:focus-visible {
      box-shadow: 0 0 0 1px #7878A3, 0 0 0 1px #7878A3;
    }
  }

  .shad-textarea {
    height: 9rem; /* h-36 */
    background-color: #101012;
    border: none;
    border-radius: 0.75rem; /* rounded-xl */
    padding: 0.5rem 1rem;
    --tw-ring-offset-color: #7878A3;
    &:focus-visible {
      box-shadow: 0 0 0 1px #7878A3, 0 0 0 1px #7878A3;
    }
  }

  .shad-button_primary {
    background-color: #45b17b;
    color: #FFFFFF;
    display: flex;
    gap: 0.5rem;
  }

  .shad-button_primary:hover {
    background-color: #5D5FEF;
  }

  .shad-button_dark_4 {
    height: 3rem;
    background-color: #1F1F22;
    padding: 0 1.25rem;
    color: #FFFFFF;
    display: flex;
    gap: 0.5rem;
  }

  .shad-button_ghost {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: start;
  }

  .shad-button_ghost:hover {
    background-color: transparent;
    color: #FFFFFF;
  }
}

